.interface-container {
  width: 1249px;
  background-image: url("table.svg");
  background-repeat: no-repeat;
  margin: 50px;
}

.dealer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1249x;
  height: 390px;
}

.player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1249px;
  height: 390px;
}

.cards {
  display: flex;
}
