.profileSection {
  background: linear-gradient(110deg, #000428 60%, #004e92 60%);
  min-height: 100vh;
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Profile Avatar */
.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid #004e92;
  border-radius: 10px;
  margin: 20px 0;
}

.avatarPicture,
.newAvatarPreview {
  width: 200px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.avatarTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Buttons */
.updateDetailsBtn {
  background-color: #ffc107;
  color: #212121;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.updateDetailsBtn:hover {
  background-color: #ffd54f;
}

/* Profile Details */
.profileDetailsContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #004e92;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.profileDetailsContainer input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* New Avatar Preview */
.newAvatarPreview {
  width: 100px;
}

/* Profile Collection */
.collectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid #004e92;
  border-radius: 10px;
  margin: 20px 0;
  width: 80%;
  max-width: 600px;
}

.collectionTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.avatarCollection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.collectionAvatar {
  width: 100px;
  border: 1px solid #004e92;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.collectionAvatar:hover {
  transform: scale(1.1);
}

.selectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid #004e92;
  border-radius: 10px;
  margin: 20px 0;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttonGroup {
  display: flex;
  gap: 10px;
}
