/* Header CSS */
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: #f8f8f8;
  width: 100%;
  border-bottom: 1px solid rgba(8, 78, 146, 0.4);
  height: 75px;
  box-sizing: border-box;
}

.headerTitle {
  text-align: center;
  margin: 0;
  font-size: 20px;
  flex-grow: 2;
}

.desktopMenu {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  font-size: 1.6rem;
}

.homeButton {
  font-size: 24px;
  color: #f8f8f8;
  z-index: 999;
}

.burger {
  position: static;
  width: 2rem;
  height: 2rem;
  top: 25px;
  right: 15px;
  z-index: 20;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
}

.burger div {
  width: 2rem;
  height: 0.25rem;
  background-color: #f8f8f8;
  border-radius: 10px;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.burger:hover div {
  background-color: #f9f9f9;
}

.burger.open div {
  z-index: 50;
}

.burger.open div:first-child {
  transform: rotate(46.5deg);
}
.burger.open div:nth-child(2) {
  opacity: 0;
}
.burger.open div:last-child {
  transform: rotate(-46.5deg);
}

@media screen and (min-width: 550px) {
  .headerContainer {
    justify-content: space-around;
  }
  .headerTitle {
    font-size: 27px;
    flex-grow: 0;
  }

  .homeButton,
  .burgerContainer,
  .burger {
    position: static;
    margin: auto 10px;
  }
}

@media screen and (min-width: 800px) {
  .burger {
    display: none;
  }
}

.desktopMenu a,
.desktopMenu button {
  margin: 0 15px;
  color: #f8f8f8;
  text-decoration: none;
  transition: color 0.3s ease;
}

.desktopMenu a:hover,
.desktopMenu button:hover {
  color: #e62121;
}

.desktopMenu button {
  background-color: #004e92;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.desktopMenu button:hover {
  background-color: #006680;
}

/* Burger Menu Styles */
.burgerMenu {
  flex-direction: column;
  background: linear-gradient(140deg, #000428 40%, #004e92 60%);
  position: absolute;
  transform: translateX(0%);
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  padding-right: 2rem;
  padding-top: 4rem;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.95;
  z-index: 19;
}
.burgerMenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
  height: 70%;
}
.burgerMenu ul li {
  margin: 20px 0;
}
.burgerMenu ul li a,
.burgerMenu a {
  color: #f8f8f8;
  text-decoration: none;
  padding: 1rem 0;
  font-size: 1.8rem;
  text-align: center;
  transition: color 0.3s ease;
}
.burgerMenu ul li:hover {
  color: #e62121;
}

.logoutBtn {
  color: #f8f8f8;
  padding: 12px 20px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 1.6rem;
}

.logoutBtn:hover {
  color: #e62121;
}

.closeBurger {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #f8f8f8;
  transition: color 0.3s ease;
}
.closeBurger:hover {
  color: #f9f9f9;
}
